.shadowing-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.options {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
    flex-wrap: nowrap; 
}

.option {
    flex: 0 1 30%;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid #f4eddd
}
.option.selected {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border: 2px solid #e8e2d2;
}

.voice-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}
